.footer {
  background-color: white;
  padding: 24px 24px 60px;

  &__bar {
    margin: 20px 0 0;
    width: 30px;
    height: 4px;
    background-color: $gray;
  }

  & h2 {
    font-family: 'Kanit', sans-serif;
    margin-top: 66px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
  }

  & h3,
  p {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
  }

  & h3 {
    margin-bottom: 8px;
    margin-top: 30px;
  }

  & p {
    color: $gray-text;
  }
}
