.header {
  padding: 24px;
  display: flex;

  & a {
    flex: 1;

    & img {
      width: 10px;
      height: 50px;
    }
  }

  &__translate {
    display: flex;
    margin-right: 32px;
    align-items: center;
    gap: 12px;

    & span {
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__active {
    border-bottom: 1px solid $blue;
  }

  &__divider {
    width: 2px;
    height: 40%;
    background-color: $gray;
  }

  & svg {
    width: 32px;
    height: 32px;
    align-self: center;
  }
}
