.header {
  padding: 12px 24px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $ivory;
  border-bottom: 1px solid $gray;

  & a {
    flex: 1;

    & img {
      width: 10px;
      height: 50px;
    }
  }

  &__translate {
    display: flex;
    margin-right: 32px;
    align-items: center;
    gap: 12px;

    & span {
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__active {
    border-bottom: 1px solid $blue;
  }

  &__divider {
    width: 2px;
    height: 40%;
    background-color: $gray;
  }

  & svg {
    width: 32px;
    height: 32px;
    align-self: center;
  }

  &__drawer {
    & svg {
      color: $blue;
    }
  }
}

@media screen and (min-width: 500px) {
  .header {
    padding: 12px 32px;

    & a img {
      width: 12px;
      height: 60px;
    }

    &__translate span {
      font-size: 15px;
    }
  }
}
