.home {
  overflow: hidden;

  &__hero {
    margin-top: 120px;
    padding: 0 24px;
    display: grid;

    & h1 {
      font-size: 72px;
      max-width: 200px;
      grid-row: 1/2;
      grid-column: 1/2;
      z-index: 2;
    }

    & img {
      grid-row: 1/2;
      grid-column: 1/2;
      width: 400px;
      transform: translateX(-30px);
    }
  }

  &__party {
    padding: 0 24px;
    margin-top: 40px;
  }

  &__date {
    display: grid;
    justify-items: end;
    margin-bottom: 60px;

    & span {
      font-family: $heading;
      font-weight: 600;
      font-size: 30px;
      color: $blue;
      line-height: 1;
    }
  }
}
