.home {
  overflow: hidden;

  &__hero {
    margin-top: 90px;
    padding: 0 24px;
    display: grid;

    & h1 {
      font-size: 72px;
      max-width: 200px;
      grid-row: 1/2;
      grid-column: 1/2;
      z-index: 2;
      line-height: 1;
      margin-top: 60px;
    }

    & img {
      grid-row: 1/2;
      grid-column: 1/2;
      width: 700px;
      transform: translate(-280px, 100px);
    }
  }

  &__party {
    padding: 0 24px;
    margin-top: 120px;
  }

  &__temple {
    padding: 0 24px;
  }

  &__date {
    display: grid;
    justify-items: end;
    margin-bottom: 40px;

    & span {
      font-family: $heading;
      font-weight: 600;
      font-size: 30px;
      color: $blue;
      line-height: 1;
    }
  }

  &__pictures {
    margin-bottom: 90px;
    margin-top: -60px;
    display: grid;
    grid-template-columns: 24px 1fr 1fr 1fr 24px;
    grid-template-rows: 190px 190px 210px 160px 190px 120px;

    & span {
      font-family: $heading;
      font-size: 180px;
      color: transparent;
      -webkit-text-stroke: 1px #c3c2c0;
    }

    & img {
      width: 65vw;
      height: 65vw;
      object-fit: cover;
    }

    &-one {
      grid-column: 2/5;
      grid-row: 1;
    }

    &-two {
      grid-column: 1/4;
      grid-row: 2;
    }

    &-three {
      grid-column: 3/6;
      grid-row: 3;
      z-index: -1;
    }

    &-four {
      grid-column: 2/5;
      grid-row: 4;
      justify-self: end;
    }

    &-five {
      grid-column: 1/4;
      grid-row: 5;
      object-position: top;
      z-index: 1;
    }

    &-six {
      grid-column: 3/6;
      grid-row: 6;
      z-index: 2;
    }

    &-seven {
      grid-column: 2/5;
      grid-row: 7;
    }
  }

  &__templeImg {
    margin-bottom: 90px;
    width: 700px;
  }
}

@media screen and (min-width: 400px) {
  .home {
    & h1 {
      font-size: 80px;
    }

    &__hero {
      & img {
        transform: translate(-240px, 100px);
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .home {
    &__hero {
      margin-top: 160px;
    }

    & h1 {
      font-size: 100px;
    }

    &__hero,
    &__party,
    &__temple {
      padding: 0 32px;
    }

    &__party,
    &__temple {
      margin-top: 90px;
    }

    &__pictures {
      grid-template-columns: 32px 1fr 1fr 1fr 32px;
    }
  }
}
