.infoFragment {
  padding: 0 24px;
  margin-bottom: 120px;

  & h2 {
    font-family: $body;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
  }

  &__bar {
    margin: 20px 0 40px;
    width: 30px;
    height: 4px;
    background-color: $gray;
  }

  &__headings {
    margin-bottom: 40px;
  }

  & h3 {
    font-size: 40px;
    line-height: 1.2;
  }

  & p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
    max-width: 400px;
    color: $gray-text;
  }

  & a {
    font-family: $body;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    border-bottom: 1px solid $blue;
    color: $blue;
  }

  &__two {
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
  }

  &__four {
    position: relative;
    z-index: 2;
  }
}

@media screen and (min-width: 400px) {
  .infoFragment {
    & h3 {
      font-size: 45px;
    }
  }
}

@media screen and (min-width: 500px) {
  .infoFragment {
    padding: 0 32px;

    & h2 {
      font-size: 15px;
    }

    & h3 {
      font-size: 57px;
    }

    & p,
    & a {
      font-size: 20px;
    }
  }
}
