.sidebar {
  grid-column: 1;
  height: 90vh;
  position: fixed;
  left: 32px;
  top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & > a {
    padding: 0 8px;
  }

  & img {
    width: 10px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: $body;

    & a {
      color: inherit;
      text-decoration: none;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      border-left: 2px solid $blue;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }

  & p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  &__translation {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & p {
      cursor: pointer;
    }
  }

  &__active {
    border-left: 2px solid $blue;
  }
}
