$heading: 'Bodoni Moda', serif;
$body: 'Nunito Sans', sans-serif;

$blue: #134761;
$gray: #d9d9d9;
$gray-text: #75736f;
$ivory: #f3f2f1;

body {
  background-color: $ivory;
}

h1,
h2,
h3,
h4 {
  font-family: $heading;
  color: $blue;
}

p,
span {
  font-family: $body;
}
